.paintings {
    width: 330px;
    height:310px;
    border:3px solid white;
    z-index: 1;
    
}
p{
    font-size: 20px;
}

.wrapper {
    width: 830px;
    margin:0 auto;
}

.button {

     background-color:white;
     width: 160px;
     margin:0 auto;

    }

.row1, .row2, .row3 {
    clear:both;

}

#cell1,#cell2,#cell3 {
    width:500px;
    width:500px;
    border:3px solid transparent;
    float: center;
    display:inline-grid;
    padding: 10px;
}

#cell4,#cell5,#cell6 {
    width:500px;
    width:500px;
    float: center;
    border:3px solid transparent;
    display:inline-grid;
    padding: 10px;
}

#cell7,#cell8,#cell9 {
    width:500px;
    width:500px;
    float: center;
    border:3px solid transparent;
    display:inline-grid;
    padding: 10px;
}