<p>
  All Paintings
</p>
<div class="Paintings">

        <div class="Row1">
            <div id="cell1">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
            <div id="cell2">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
            <div id="cell3">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
        </div>

        <div class="Row2">
            <div id="cell4">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
            <div id="cell5">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
            <div id="cell6">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
        </div>

        <div class="Row3">
            <div id="cell7">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
            <div id="cell8">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
            <div id="cell9">    <p class="thumbnail_align"><img src="https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></p>
                <h4 class="text-center">Painting</h4>
                <p id="desc" class="text-center" style="font-size: 0.18em;">Painting</p>
            </div>
            <div class="button">

                <button>New Painting</button>
                </div>
        </div>
    </div>
